html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #434343;
  
    background: radial-gradient(ellipse at top, #434343, transparent),
            radial-gradient(ellipse at bottom,#e66465 , #333333);


    font-family: Helvetica;
    letter-spacing: 0.03em
}

/** GLOBAL */

.border {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.content-full-width {
    padding-bottom: 2em;
    margin: 25px 15% 0 15%;
}

.invisible {
    display: none;
}

.inner-padding {
    padding: 45px 0 45px 20px;    
}

/** HEADER */

div#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: #333333;
    color: white;

    background:-webkit-linear-gradient(90deg, rgb(38, 38, 38) 0%, rgba(0, 255, 0, 0) 80%);
    background:-o-linear-gradient(90deg, rgb(38, 38, 38) 0%, rgba(0, 255, 0, 0) 80%);
    background:-moz-linear-gradient(90deg, rgb(38, 38, 38) 0%, rgba(0, 255, 0, 0) 80%);
    background:linear-gradient(90deg, rgb(38, 38, 38) 0%, rgba(0, 255, 0, 0) 80%);
}

.navigationElement {

    display: flex;
    justify-content : center;

    margin: auto;
    width: 15%;
    height: 80%;
    
    font-family: 'Ubuntu', sans-serif;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.navigationElementTop {

    padding-top: 1em;
    padding-bottom: 0.4em;
}

.navigationElementBottom {

    padding-top: 0.4em;
}

.navigationElement:hover {

    background-color: #434343;
}

/** CONTENT */

div#page {
    min-height: 100%;
    position: relative;
}

.coloredBorder {

    border-image: linear-gradient(to right, #777777 0%, #e66465 100%);
    border-image-slice: 1;
    border-width: 0.15em;
}

/** CONTENT LATEST **/

.default-background {
    background: rgba(255, 255, 255, 0.8);
}

div#profile {
    float: right;
}

img#mugshot {
    border-radius: 100%;
}

div#social-media {
    font-size: 0.7em;
    text-align: center;
    margin: -20px auto 0;
}

div#status-box {
    height: 180px;
    border-color: darkgrey;
}

/** PROFESSIONAL **/
div#content-professional {
    text-align:center;
}

.activity-blob {
    margin: 15px;
    padding: 10px 5px 7px 5px;;
    display: inline-block;
    width: 20em;
}

/** FOOTER */

div#footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    bottom: 0;
    height: 2em;
    left: 0;
    position: absolute;
    width: 100%;
    color: white;
    background: #333333;

    background:-webkit-linear-gradient(90deg, rgba(0, 255, 0, 0) 0%, rgb(38, 38, 38) 80%);
    background:-o-linear-gradient(90deg, rgba(0, 255, 0, 0) 0%, rgb(38, 38, 38) 80%);
    background:-moz-linear-gradient(90deg, rgba(0, 255, 0, 0) 0%, rgb(38, 38, 38) 80%);
    background:linear-gradient(90deg, rgba(0, 255, 0, 0) 0%, rgb(38, 38, 38) 80%);
}