html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #434343;
  
    background: radial-gradient(ellipse at top, #434343, transparent),
            radial-gradient(ellipse at bottom,#e66465 , #333333);


    font-family: Helvetica;
    letter-spacing: 0.03em
}

/** GLOBAL */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

.border {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.content-full-width {
    padding-bottom: 2em;
    margin: 25px 15% 0 15%;
}

.invisible {
    display: none;
}

.headline-padding {
    height: 45px;
    padding: 2em 0 0.4em 0px;    
}

.inner-padding {
    padding: 30px 0 30px 20px;    
}

ul {
    list-style-type: disc;
}

.zoom-in {cursor: zoom-in;}

/** HEADER */

div#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: #333333;
    color: white;

    background:-webkit-linear-gradient(90deg, rgb(38, 38, 38) 0%, rgba(0, 255, 0, 0) 80%);
    background:-o-linear-gradient(90deg, rgb(38, 38, 38) 0%, rgba(0, 255, 0, 0) 80%);
    background:-moz-linear-gradient(90deg, rgb(38, 38, 38) 0%, rgba(0, 255, 0, 0) 80%);
    background:linear-gradient(90deg, rgb(38, 38, 38) 0%, rgba(0, 255, 0, 0) 80%);
}

.navigationElement {

    display: flex;
    justify-content : center;

    margin: auto;
    width: 15%;
    height: 25pt;
    
    font-family: 'Ubuntu', sans-serif;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.navigationElementTop {

    padding-top: 2em;
    padding-bottom: 0.4em;
}

.navigationElementBottom {

    padding-top: 0.4em;
}

.navigationElement:hover {

    background-color: #434343;
}

/** CONTENT */

div#page {
    min-height: 100%;
    position: relative;
}

.coloredBorder {

    border-image: linear-gradient(to right, #777777 0%, #e66465 100%);
    border-image-slice: 1;
    border-width: 0.15em;
}

/** CONTENT LATEST **/

div#content-latest {
    text-align: center;
    padding-top: 3em;
}

img#mugshot:hover {
    opacity: 0.8;
}

span#slogan {
    color: rgba(0, 0, 0, 0.8);
}

span#slogan-text, .job-title-description {
    font-family: 'Tangerine', cursive;
    font-size: 2em;
}

div.rotate-right {
  -ms-transform: rotate(4deg); /* IE 9 */
  -webkit-transform: rotate(4deg); /* Safari */
  transform: rotate(4deg);
}

div.rotate-left {
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Safari */
  transform: rotate(-5deg);
}

.center {
    text-align:center;
}

.default-background {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(63, 63, 63, 0.3);
    box-shadow: 3px 5px #e66465 10%;
}

.activity-blob:hover {
    background: rgba(255, 255, 255, 0.3);
}

div#profile {
    float: right;
}

img#mugshot {
    border-radius: 100%;
}

div#social-media {
    font-size: 0.7em;
    text-align: center;
    margin: -20px auto 0;
}

div#status-box {
    height: 180px;
    border-color: darkgrey;
}

/** PROFESSIONAL **/
div#content-professional {
    text-align:left;
}

.cv-year, .likes {
    margin: 15px;
    padding: 10px 5px 7px 5px;;
    display: inline-block;
    width: 13em;
    font-size: x-large;
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 4px;
}


.company {
    font-family: 'open sans',arial,sans-serif;
    font-size: 10pt;
    letter-spacing: 1pt;
    font-variant: small-caps;
}

.job-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    left: 4pt;
}

/** Skills / Contains **/

.likes {
    color: rgba(255, 255, 255, 0.55);
}

.skills-padding {
    padding: 10px 0 30px 20px;
}

.skills-headline, .skills-blob, .activity-blob {
    margin: 15px;
    padding: 10px 10px 6px 10px;;
    display: inline-block;
    width: 20em;    
    line-height: 1.3em;
    padding: 10px;
    border-radius: 2em / 5em;
    background: rgba(255, 255, 255, 0.10);
}

.skills-headline {
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.7);
}

.skills-blob:hover {
    background: rgba(255, 255, 255, 0.3);
}

.highlight-blob {
    background: rgba(255, 255, 255, 0.3);
}

/** FOOTER */

div#footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    bottom: 0;
    height: 2em;
    left: 0;
    position: absolute;
    width: 100%;
    color: white;
    background: rgb(45,45,45, 0.6);
}

/** OVERLAY **/
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.job-description {
  position: absolute;
  top: 38%;
  left: 50%;
  font-size: 1.5em;
  text-align: justify;
  color: rgba(255,255,255,0.6);;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  display: none;
}