body {
    background-color: floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

.super {
    display: flex;
    justify-content: center;
}

.wrapper {
    position: relative;
    text-align: left;

    min-width: 650px;
    max-width: 700px;
    min-height: 800px;

    padding: 1em;
    border-radius: 50% 15% / 3% 10%;
    background-color: beige;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

/** GLOBAL **/

.navigation {
    text-align: center;
    letter-spacing: 3px;
    
}

.invisible {
        display: none;
}
 
/** HEADER **/

.header {
    border-radius: 1em;
}

div#navigationLeft, div#navigationRight {
    display: inline-block;
    width: 33%;
}

div#navigationMiddle {
    display: inline-block;
    width: 34%;
}

/** CONTENT **/

div#content {
    clear: both;
    margin: 10px 0 10px 0;
}

.content {
    background-color: chartreuse;
}

/** CONTENT LATEST **/
div#profile {
    float: right;
}

img#mugshot {
    border-radius: 100%;
}

div#social-media {
    font-size: 0.7em;
    text-align: center;
}


/** FOOTER **/
div#footer {
    position: absolute;
  bottom: 2em;
  right: 2em;
    font-size: 0.7em;
}