body {
    background-color: floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

a, a :active, a:focus {
	color: #005480;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.super {
    display: flex;
    justify-content: center;
}

.border {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.gap {
    margin: 25px 0 0 0;
}

.wrapper {
    position: relative;
    text-align: left;

    min-width: 650px;
    max-width: 700px;
    min-height: 800px;

    padding: 1em;
    border-radius: 50% 5% / 3% 10%;
    background-color: beige;
}

/** GLOBAL **/

.navigation {
    text-align: center;
    letter-spacing: 3px;
    
}

.invisible {
        display: none;
}
 
/** HEADER **/

.header {
    border-radius: 1em;
}

div#navigationLeft, div#navigationRight {
    display: inline-block;
    width: 33%;
}

div#navigationMiddle {
    display: inline-block;
    width: 34%;
}

/** CONTENT **/

div#content {
    clear: both;
    margin: 10px 0 10px 0;
}

.content {
    font-size: 1em;
}

/** CONTENT LATEST **/
div#profile {
    float: right;
}

img#mugshot {
    border-radius: 100%;
}

div#social-media {
    font-size: 0.7em;
    text-align: center;
    margin: -20px auto 0;
}

div#status-box {
    height: 180px;
    border-color: darkgrey;
    padding: 10px 0;
}

div#short-summary {
    padding: 50px 0;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    text-align: justify;
}

/** FOOTER **/
div#footer {
    position: absolute;
    bottom: 2em;
    right: 2em;
    font-size: 0.7em;
}

div#navi {
    position:fixed;
    bottom: 0%;
    right: 50%;
 }