body {
    background-color: floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

.wrapper {
    
    position: absolute;
    top: 50%;
    bottom: 50%;

    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    min-width: 650px;
    max-width: 700px;
    min-height: 800px;

    padding: 1em;
    border-radius: 50% 20% / 10% 40%;
    background-color: beige;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;

}

/** GLOBAL **/

.navigation {
    text-align: center;
    letter-spacing: 3px;
    
}

.invisible {
        display: none;
}
 
/** HEADER **/

.header {
    border-radius: 1em;
}

div#navigationLeft, div#navigationRight {
    display: inline-block;
    width: 33%;
}

div#navigationMiddle {
    display: inline-block;
    width: 34%;
}

/** CONTENT **/

div#content {
    clear: both;
    margin: 10px 0 10px 0;
}

.content {
    background-color: chartreuse;
}

/** CONTENT LATEST **/
img#mugshot {
    border-radius: 100%;
    float: right;
}

div#social-media {
    float:right;
}


/** FOOTER **/
div#footer {
    position: relative;
    bottom: 0px;
    font-size: 0.7em;
}